<header>
  <nav>
    <div class="left-section">
      <ul class="nav-list">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/shop">Shop</a></li>
        <li><a routerLink="/addItem">Add Item</a></li>
        <li><a routerLink="/logout">Logout</a></li>

      </ul>
    </div>
    <div class="right-section">
      <a routerLink="/user" class="user-icon"><i class="fas fa-user"></i></a>
      <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>      
    </div>
  </nav>
</header>
