<header>
  <nav>
    <div class="left-section">
      <ul class="nav-list" *ngIf="!isLoggedIn">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/shop">Shop</a></li>
      </ul>

      <ul class="nav-list" *ngIf="isLoggedIn">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/shop">Shop</a></li>
        <li><a routerLink="/add-item">Add Item</a></li>

      </ul>
    </div>
    <div class="right-section" *ngIf="!isLoggedIn">
      <a routerLink="/user" class="user-icon"><i class="fas fa-user"></i></a>    
    </div>

    <!-- <div class="right-section" *ngIf="isLoggedIn">
      <li (click)="logout()"><a class="logout">Logout</a></li>
      <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>      
    </div> -->

    <div class="right-section" *ngIf="isLoggedIn">
      <div class="user-dropdown">
        <a href="#" class="user-icon" (click)="toggleDropdown($event)"><i class="fas fa-user"></i></a>
        <ul class="dropdown-menu" *ngIf="dropdown">
          <li><a href="#">Profile</a></li>
          <li><a (click)="logout(); toggleDropdown($event)" class="logout">Logout</a></li>
        </ul>
      </div>
      <a routerLink="/cart" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
    </div>
    
 
  </nav>
</header>
