header {
    background-color: #333;
    padding: 10px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    flex-grow: 1;
}

.right-section {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li {
    margin-right: 10px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.cart-icon,
.user-icon {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.user-icon {
    margin-right: 10px;
}

.logout {
    cursor: pointer;
}


.user-dropdown {
    position: relative;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    list-style: none;
}

.dropdown-menu li {
    margin-bottom: 8px;
    color: black
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    text-decoration: underline;
}