<div class="container">
    <div class="items-container">
        <div class="item">
            <img class="item-image" src="iamge">
            <div class="item-info">
                <div class="item-name">Product Name 1</div>
                <div class="item-price">$50.00</div>
            </div>
        </div>
        <div class="item">
            <img class="item-image" src="image">
            <div class="item-info">
                <div class="item-name">Product Name 2</div>
                <div class="item-price">$35.00</div>
            </div>
        </div>
        <!-- Add more items here -->
    </div>

    <div class="form-container">
        <div class="total-price">
            <h2>Total Price</h2>
            <div id="cart-total-price">$0.00</div>
        </div>

        <h2>Delivery Information</h2>
        <form id="shipping-form">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <button type="submit">Place Order</button>
        </form>
    </div>
</div>