.container {
    flex-wrap: wrap;
    background-image: url('../../resources/images/black15.webp');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.items-container {
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* Add more spacing between items */
}

.item-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
}

.item-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Take up remaining space */
}

.item-name {
    font-weight: bold;
    font-size: 18px;
    /* Increase font size for item name */
    margin-bottom: 5px;
    /* Add spacing between item name and price */
}

.item-price {
    color: #ccc;
    font-size: 16px;
    /* Adjust font size for price */

}

.total-price {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

#cart-total-price {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.form-container {
    margin-top: auto;
    /* Push the form container to the bottom */
    width: 400px;
    background-color: gray;
    padding: 20px;
    position: absolute;
    /* Position the form container absolutely */
    right: 20px;
    /* Move the form container to the right */
    bottom: 20px;
    /* Move the form container to the bottom */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    /* Set the input background color to white */
    color: black;
    /* Set the input text color to black */
}

form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #555;
}

.total-price {
    text-align: center;
    margin-bottom: 20px;
}

#cart-total-price {
    font-size: 24px;
    font-weight: bold;
}